@import "tailwindcss";

@theme {
  --color-primary: #EA6D27;
  --color-bg: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-bg);
}

button {
  cursor: pointer;
}

.btn-custom-rounded {
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
