@import "tailwindcss";

@theme {
  --color-primary: #EA6D27;
  --color-bg: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-bg);
}

/* Font assignments */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat-alternates);
}

.logo-text {
  font-family: var(--font-pacifico);
  color: var(--color-primary);
}

button {
  cursor: pointer;
}

.btn-custom-rounded {
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}