@import "tailwindcss";

@theme {
  --color-primary: #EA6D27;
  --color-bg: #FFFFFF;
}

body{
  background-color: var(--color-bg);
}

button {
  cursor: pointer;
}

.btn-custom-rounded {
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.leaf-decoration {
  position: relative;
}

.leaf-decoration::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: 
    url('/leaf-1.svg'),
    url('/leaf-2.svg'),
    url('/leaf-3.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 
    top 8px left 3px,     /* leaf-1 position */
    top 3px right 0,        /* leaf-2 position */
    bottom 40px right 4px;     /* leaf-3 position */
  background-size: 
    170px,   /* leaf-1 size */
    190px,   /* leaf-2 size */
    130px;   /* leaf-3 size */
  opacity: 1;
  pointer-events: none;
  z-index: 0;
}